body {
  display: flex;
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.container-card {
  display: flex;
  height: 440px;
  width: 560px;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  border-radius: 12px;
}
.information-card {
  display: flex;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  flex-direction: column;
}

.image-card {
  display: flex;
  height: 440px;
  width: 280px;
}
.category {
  margin: 24px 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  color: hsl(228, 12%, 48%);
}
.title-product {
  margin: 0 24px;
  font-family: "Fraunces", serif;
  line-height: 1;
  color: hsl(212, 21%, 14%);
  font-size: 32px;
}
.description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 24px 24px;
  line-height: 1.5;
  color: hsl(228, 12%, 48%);
}
.dolares-card {
  display: flex;
  margin: 0 24px;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 32px;
}
.dolartach-card {
  display: flex;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}
.costo-card {
  display: flex;
  align-items: center;
}
.button {
  display: flex;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  margin: 24px 24px;
  padding: 14px 32px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  justify-content: center;
}
.text-button {
  margin: 0 4px;
}
.button svg {
  margin: 0 4px;
}
